<div id="user_password_modal" class='hidden modals'>
  <div id="user_password_modal_close">
    <a href="javascript:close_modal('#user_password_modal');" class="close-icon"><span class="sr-only">close</span></a>
  </div>
  <h2 id="heading-password-modal" tabindex="-1"><%= t('user.password.title')%></h2>
  <p class="forms_text"><%= t('user.password.sub_title_modal')%></p>
  <%= form_tag url_for(:controller => 'user', :action => 'update_password'), :method => 'PUT' , remote: true do %>
    <%= label_tag '[user][current_password]', t('user.password.current_password'), class: 'small_label' %>
    <%= password_field_tag "[user][current_password]", 
      '' , class: 'textfields', "aria-required" => true %>
    <%= label_tag '[user][password]', t('user.password.new_password'), class: 'small_label' %>
    <%= password_field_tag "[user][password]", 
      '' , class: 'textfields', "aria-required" => true %>
    <%= label_tag '[user][password_confirmation]', t('user.password.confirm_new_password'), class: 'small_label' %>
    <%= password_field_tag "[user][password_confirmation]",'' , class: 'textfields',"aria-required" => true %>
      <div id = "password-error" class="field-error-modal hidden" tabindex="0"></div>
    <div class="modal-buttons">
    <%= submit_tag t('buttons.cancel'), :type => "reset", :onclick => "return close_modal('#user_password_modal')"  %>
    <%= submit_tag t('buttons.save'), :type => "submit"  %>
    </div>
  <% end %>
</div>
