    <div class="details_header_left"><%= t("transactions.header.purchases")%>: <%= @details.order_date %></div>
    <div class="details_header_left"><%= t("transactions.header.confirmation_num")%> <%= @details.number %></div>
    <div class="details_header_left">
      <%= t("transactions.header.payment")%>: <%= @details.credit_card_type %> <%= @details.credit_card_number %>
    </div>
    <div class="details_header_left">Seller VAT: GB 792 2825 05</div>