    <div class='detail_label'><%= t("transactions.header.sub_total")%>: <span><%=  localize_price(@details.sub_total ,@details.currency) %></span></div>
    <div class='detail_label'><%= t("transactions.header.tax")%>: <span><%= localize_price(@details.tax ,@details.currency) %></span></div>
    <div class='detail_label total-label'><%= t("transactions.header.total")%>: <span><%= localize_price(@details.tax(true) ,@details.currency) %></span></div>
