  <% present @user do |user_presenter| %>
    <div class="form-header">
      <h1 class="form-header-heading main"><%=t('user.page_title')%></h1>
    </div>

    <% if @branded_config[:user][:personal_information] %>
      <%= render(:partial => "user/form/personal_information", :locals => {:user_presenter =>user_presenter})%>
    <% end %>

    <% if @branded_config[:user][:security] %>
      <%= render :partial => "user/form/security" %>
      <%= render :partial => "user/modals/security" %>
    <% end %>

    <% if @branded_config[:user][:password] %>
      <%= render :partial => "user/form/password" %>
      <%= render :partial => "user/modals/password" %>
    <% end %>

    <% if @branded_config[:user][:notification_settings] %>
      <%= render :partial => "user/form/notification_settings" %>
    <% end %>

    <% if @branded_config[:custom][:uop_email_locked] %>
      <%= render :partial => "user/modals/locked_email" %>
    <% end %>
  <% end %>
