 <div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Modal Box</h2>
    <p>
<%= form_tag url_for(:controller => 'user', :action => 'update'), :method => 'PUT' , remote: true do %>
    <fieldset>
      <%= label_tag '[user][email]', "Email" , class: 'small_label' %>
      <%= text_field_tag "[user][email]", @user.email , class: 'textfields'%>
      <div id="email-error" class="field-error hidden">&nbsp;</div>
    </fieldset>
    <fieldset>
      <%= label_tag 'first_name', "First Name", class: 'small_label' %>
      <%= text_field_tag "[user][first_name]", @details["user"]["first_name"] , class: 'textfields'%>
            <div id = "first_name-error" class="field-error hidden"></div>
    </fieldset>
 <%= submit_tag "Save", :type => "submit" %>
      <%= submit_tag "Cancel", :type => "reset" %>
<% end %>
    </p>
  </div>
</div>