<div class="content" id="wrapper">
<% content_for(:message) do -%>
  <% if flash[:status_success] %>
    <%= t('messages.refund_success') %>
  <% elsif flash[:status_fail] %>
    <%= t('messages.refund_failure') %>
  <% end %>
<% end -%>

<% if flash[:status_success] %>
  <script>
    showStatusBanner('success');
  </script>
<% end %>

<% if flash[:status_fail] %>
  <script>
    showStatusBanner('fail');
  </script>
<% end %>
<div class="page-header">
  <div class="form-header">
    <h1 class="form-header-heading">Transactions</h1>
  </div>
</div>
<%= render 'shared/content_tabs' %>
<p class="refunds-text" style="display: none;">Refund payment may take up to 30 days to process. Please contact Support with any questions.</p>
<% if @branded_config[:orders][:orders] %>
  <%= render 'transactions/cards/orders' %>
<% end %>
<%= render 'shared/footer' %>
</div>
