<div class="content" id="wrapper">
<style>
@media print {
    .order-item-refund{
      visibility: hidden;
    }
}

h1.form-header-heading {
  padding: 0;
  display: table-cell;
  margin: 0;
  background: none;
}

.content {
  padding: 50px 50px 0 50px;
}

.refund_status {
  color:red;
}

.detail_label{
  font-weight: 100;
  font-size: 13px;
}
.detail_data{
  font-weight: normal;
  font-size: 14px;
}
.order_review{
  font-weight: bold;
}

.order_details_link {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .content {
    padding-left: 15px;
  }
}
@media screen and (max-width: 800px) {
  .content {
    padding: 0 5px !important;
  }
}
@media screen and (max-width: 645px) {
  .content {
  }
}
@media screen and (max-width: 525px) {
  .content {
    width: 100%;
  }
}
</style>

<% content_for(:message) do -%>
  <% if flash[:status_success] %>
    <%= t('messages.refund_success') %>
  <% elsif flash[:status_fail] %>
    <%= t('messages.refund_failure') %>
  <% end %>
<% end -%>

<% if flash[:status_success] %>
  <script>
    showStatusBanner('success');
  </script>
<% end %>

<% if flash[:status_fail] %>
  <script>
    showStatusBanner('fail');
  </script>
<% end %>
<div class="page-header">
  <div class="form-header">
    <h1 class="form-header-heading">Transactions</h1>
  </div>
</div>
<%= render 'shared/content_tabs' %>
<p class="refunds-text" style="display: none;">Refund payment may take up to 30 days to process. Please contact Support with any questions.</p>
<% if @branded_config[:orders][:orders] %>
  <%= render 'transactions/cards/orders' %>
<% end %>
<%= render 'shared/footer' %>
</div>
