<% @currency = Currency.new(@print["currency"]) %>
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<!-- <link rel="stylesheet" type="text/css" href="css/print.css"> -->
</head>

<body>
<div class="container">
  <div class="print-receipt">
    <div class="print-receipt-logoheader">
      <img class="print-receipt__logo-black" src="<%= asset_path('vitalsource-logo-black.png') %>" alt="vitalsource logo">
      <img class="print-receipt__logo-color" src="<%= asset_path('vitalsource_color.svg') %>" alt="vitalsource logo">
      <div class="print-receipt__header-text"> <a onclick="window.print();" id="print_receipt_link" href="javascript:void(0);">Print This Receipt</a> </div>
      <div style="clear: both"></div>
    </div>
    <div class="print-receipt__header">
      <h1>Order Confirmation</h1>
    </div>
    <div class="print-receipt__upper">
     <div class='print_receipt_upper_left'>
      <ul class="print-receipt__ul">
        <li>Billing Address:</li>
        <li><%= @print['billing_address']['name']%></li>
        <li><span><%= @print['billing_address']['line1']%>&nbsp;<%= @print['billing_address']['line2']%></span></li>
        <li><span><%= @print['billing_address']['city']%>, <%= @print['billing_address']['state']%> <%= @print['billing_address']['postal_code']%></span></li>
        </ul>
        </div>
      <div class='print_receipt_upper_right'>
      <ul class="print-receipt__ul">
        <li><span>Order Placed:</span><%= @print['order_date'].to_date.strftime('%-m/%-d/%Y') %></li>
        <li><span>Order Confirmation:</span><%= @print['number']%></li>
        <li><%= @print['credit_card_type'].upcase%>&nbsp;<%= @print['credit_card_number']%></li>
        </ul>
        </div>
    </div>
    <div class="print-receipt__lower">
    <% @print['purchase_items'].each do |x| %>
      <ul class="print-receipt__ul">
      <li>
        <div class="print-receipt-item">
          <div class="print-receipt-itemdetails">
            <div><span class="print-receipt__medium-font"><%= x['title']%></span></div>
              <ul class="print-receipt__ul__inner">
                <% if x['duration']=='purpetual' %>
                  <li class="print-receipt__medium-font">Non-expiring</li>
                <li>This book does not expire</li>
                <% else %>
                 <li class="print-receipt__medium-font"><%= x['duration']%> Access</li>
                <% end %>
              </ul>
          </div>
          <div class="print-receipt-itemprice">
              <div class="print-receipt-itemprice-label">
              Price:
              </div>
              <div class="print-receipt-itemprice-amount">
              <%= number_to_currency(x["item_price"], unit: @currency.symbol)%> <% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %>
              </div>
              <% if x['refunded'] %>
              <div class="print-receipt-refundprice-label">
              Refund:
              </div>
              <div class="print-receipt-refundprice-amount">
              -<%= number_to_currency(x['item_price'], 
            unit: currency_symbol(@print['currency']))%><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %>
              </div>
              <% end %>
          </div>
          <div style="clear: both"></div>
        </div>
      </li>
      </ul>
     <% end %>
    </div>
    <div class="print-receipt-total" style="padding-bottom: 0;">
      <hr style="border: 1px solid #bdbdbd; margin-bottom: 25px;" />
      <div style="float: right; width: 55%;">
        <ul class="print-receipt__ul__total">
        <li>
            <div class="print-receipt-totallabel">Subtotal:</div>
            <div class="print-receipt-totalvalue"><%= number_to_currency(@print['total_unit'], 
            unit: @currency.symbol) %><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %></div>
          </li>
           <li>
            <div class="print-receipt-totallabel"><%= tax_label(@print['currency']) %></div>
            <div class="print-receipt-totalvalue">
            <% if @print["currency"] == "AUD" %>
              Not Applicable
            <% else %>
            <%= number_to_currency(@print['total_tax'], 
            unit: @currency.symbol) %><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %></div>
            <% end %>
          </li>
           <li id="order_total">
            <div class="print-receipt-totallabel">Order Total:</div>
            <div class="print-receipt-totalvalue"><%= number_to_currency(@print['total_unit'].to_f + @print['total_tax'].to_f , 
            unit: @currency.symbol) %><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %></div>
          </li>
          <div style="clear: both"></div>
        </ul>
      </div>


      <div style="clear: both"></div>
    </div>

     <div class="print-receipt-total" style="border-bottom: 2px solid #bdbdbd;">
     <% if @print['refund_total_unit'].to_f > 0 %>
      <hr style="border: 1px solid #bdbdbd; margin-bottom: 25px;" />
      <div style="float: right; width: 55%;">
        <ul class="print-receipt__ul__total">
        <li>
            <div class="print-receipt-totallabel">Refund Subtotal:</div>
            <div class="print-receipt-totalvalue"><%= number_to_currency(@print['refund_total_unit'], 
            unit: @currency.symbol) %><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %></div>
          </li>
           <li >
            <div class="print-receipt-totallabel">Refund Tax:</div>
            <div class="print-receipt-totalvalue">
            <% if @print["currency"] == "AUD" %>
            Not Applicable
            <% else %>
            <%= number_to_currency(@print['refund_total_tax'], 
            unit: @currency.symbol) %><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %>
            <% end %>
            </div>
          </li>
           <li id="refund_total">
            <div class="print-receipt-totallabel">Refund Total:</div>
            <div class="print-receipt-totalvalue">-<%= number_to_currency(@print['refund_total_unit'].to_f + @print['refund_total_tax'].to_f, 
            unit: @currency.symbol) %><% if @print["currency"] != "GBP" %><%= @currency.postfix %><% end %></div>
          </li>
          <div style="clear: both"></div>
        </ul>
      </div>
      <% end %>
      <div style="clear: both"></div>
    </div>
  </div>
</div>
</body>
</html>
